*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}




header nav ul{
    padding: 10px;
    
    text-align: center;
    color: rgb(230, 12, 12);
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    
    
  }  

 .navbar a:hover{
    color: rgb(4, 136, 236);
    padding: 10px;
    background-color: rgb(99, 103, 158);
    text-align: center;
    color: rgb(0, 145, 255);
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    
    
  }
    



a{
    color: rgb(210, 203, 228);
    text-decoration: none;

}

a:hover{
    color: rgb(234, 0, 167);
    transition: all 0.3s ease-in-out;
}


.bg.oscuro{
    color: #dac6c6;
}

.section-primero{
    background-color: red;
}


/*carousel*/

.carousel-inner img{
    max-height: 85vh;
    object-fit: cover;
}








.titulo{
  
    background-color: rgb(141, 78, 26);
    width: 1364px;
}


.lorem{
    color: yellow;
}


.row{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    color: rgb(24, 35, 44);
 
}

.casamodernas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    color: rgb(18, 98, 172);

}

.casamoderna2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    color: rgb(62, 137, 207);

}
.servicio1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    color: rgb(62, 137, 207);
}



.section-imagen img{

    max-width: 100%;

}

.imagen-mas{
    height: 678px;
    max-width: 100px;
}

.imagencasablanca{
    height: 1000;
    width: 920;
}

.casa-golf-blanca{

    position: relative;

}

/*footer*/

.footer {
  background-color: #7e9ab2;
  color: #ffffff;
  padding: 30px 0;
  margin-top: 50px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .footer .col-lg-4,
  .footer .col-md-4 {
    margin-bottom: 30px;
  }
}

