.section-primero{
    .row{
        padding-top: 5px;
        padding-bottom: 5px;
        h2{color: rgb(252, 252, 252);
        margin-top: 3px;
        margin-left: 3px;
        text-align: center;}
        p{font-size: 4px;
        color: white;
        text-align: center;
    }

    }
}

section{
    h2{
        text-align: center;
        padding-left: 3px;
        padding-top: 3px;
    }
    p{
        font-size: 5px;
        text-align: center;
    }

    .SeccionDeContenedor3{


     .clearfix{
    .texto{
    color: white;
    padding-left: 3px;
    padding-top: 3px;
    text-align: center;


}
     }

     
    }









    
}









