// body{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: 'Montserrat', sans-serif;
// }

$bg-color:#fff;
$bg-colorsecundario: #1262ac;
$bg-colorc:  #3e89cf;
$bg-color4:#63679e;
$bg-color5:#0091ff;
$bg-color6:#0091ff;
$bg-color7:#18232c;
$bg-color8: #6995fa;
$bg-color9: #ffffff;
